* {
    font-family: 'Rubik', sans-serif;
}

h1,h2,h3 {
    margin: 0px;
    padding: 0px;
}

ul {
    padding: 0px;
}
.container {
    width: 1202px;
    padding: 0px 15px;
    margin: 0 auto;
}
.header {
    background-color: #0D0D2B;
    padding: 60px 0 102px 0;
}
.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_top .header_nav .header_list {
    display: flex;
    list-style-type: none;
}
.header_top .header_nav .header_list .header_item {
    padding-right: 32px;
}
.header_top .header_nav .header_list .header_item:last-child {
    padding-right: 0px;
}
.header_top .header_nav .header_list .header_item:nth-child(4) {
    padding-right: 56px;
}
.header_top .header_nav .header_list .header_item .header_link  {
    text-decoration: none;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    transition: .3s all;
}
.header_top .header_nav .header_list .header_item .header_link:hover {
    color: #BFA3F3;
}
.header_top .header_nav .header_list .header_item .header_link-login {
    font-weight: 500;
    letter-spacing: 0em;
    border-right: 1px solid rgba(242, 242, 242, .3);
    padding-right: 24px;
}
.header_top .header_nav .header_list .header_item .header_link-register {
    font-weight: 500;
    letter-spacing: 0em;
    width: 130px;
    height: 52px;
    background: #3671E9;
    border-radius: 32px;
    padding: 14px 32px;
}
.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 51px;
}
.offer .offer_save {
    display: flex;
    justify-content: space-between;
    width: 365px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    position: relative;
}
.offer .offer_save .save {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0D0D2B;
    position: absolute;
    top: 4px;
    left: 4px;
    text-decoration: none;
    padding: 7px 16px;
    background: #FFFFFF;
    border-radius: 32px;
}
.offer .offer_save .weekend {
    display: flex;
    align-items: center;
    padding-left: 133px;
    text-decoration: none;
    font-family: Rubik;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.header_title {
    margin-top: 25px;
    max-width: 588px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #FFFFFF;
}
.header_text {
    margin-top: 25px;
    max-width: 435px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
}
.btn {
    margin-top: 32px;
    width: 154px;
    height: 59px;
    background: #3671E9;
    border-radius: 32px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.btn:hover {
    box-shadow: 0px 0px 8px #241342;
}
.why {
    background-color: #0D0D2B;;
    padding: 100px 0 128px 0;
}
.why .why_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.why .why_wrapper .why_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 334px;
}
.why .why_wrapper .why_item .item_img {
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why .why_wrapper .why_item .item_descr {
    margin-left: 24px;
}
.why .why_wrapper .why_item .item_descr .item_title {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
.why .why_wrapper .why_item .item_descr .item_text {
    margin-top: 4px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #E0E0E0;
    max-width: 230px;
}
.trade {
    background-color: #0D0D2B;
    padding-top: 100px;
}
.trade .trade_title {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}
.trade .trade_text {
    width: 622px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #E0E0E0;
}
.trade .trade_calc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 65px;
    border-radius: 16px 16px 0 0;
    background-color: #FBFCFE;
    max-width: 942px;
    padding: 48px 0;
}
.btn_trade {
    margin-top: 0px;
}
.trade .trade_calc .trade_calc-input {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    color: #0D0D2B;
    border: none;
    outline: none;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
    flex: 0 0 403px;
    background-color: #FBFCFE;
    margin-left: 48px;
}
.btn_trade {
    margin-right: 48px;
    flex: 0 0 146px;
}
.trade .trade_calc .trade_calc-select {
    flex: 0 0 200px;
    border: none;
    background-color: #FBFCFE;
    outline: none;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 20px;
    color: #0D0D2B;
    margin-left: 48px;
    margin-right: 48px;
    cursor: pointer;
}
.securely {
    background: linear-gradient(180deg, #F8F9FB 0%, #FAFBFF 100%);
    padding-bottom: 100px;
}
.securely .securely_mining {
    background-color: #fff;
    border-radius: 0px 0px 16px 16px;
    width: 942px;
    margin: 0 auto;
    padding: 48px 0;
}
.securely .securely_mining .estimated {
    margin-left: 48px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #3671E9;
}
.securely .securely_mining .eth {
    font-family: Rubik;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.04em;
    color: #0D0D2B;
    margin-left: 48px;
    margin-top: 16px;
}
.securely .securely_mining .eth span {
    color: #3671E9;
}
.securely .securely_mining .securely_text {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #828282;
    margin-left: 48px;
    margin-top: 8px;
}
.securely .securely_title {
    max-width: 771px;
    margin: 0 auto;
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #0D0D2B;
}
.securely .securely_wrapper {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    padding: 48px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #BFACE2;
    border-radius: 16px;
    transition: .3s ease background-color, .3s ease color;
}
.securely .securely_wrapper .item .item_img-orange {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: linear-gradient(180deg, #F9AA4B -0.02%, #F7931A 99.99%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.securely .securely_wrapper .item .item_img-blue {
    background-color: #1181E8;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.securely .securely_wrapper .item .item_img-white {
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.item_title {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.item_main {
    font-weight: 700;
    font-size: 32px;
    color: #0D0D2B;
}
.item_subtitle{
    margin-top: 3px;
    margin-left: 6px;
    font-weight: 500;
    font-size: 18px;
    color: #BDBDBD;
}
.securely .securely_wrapper .item .item_descr {
    margin-top: 16px;
    padding: 0px 24px;
    width: 322px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #828282;
    transition: 0.1s all;
}
.securely .securely_wrapper .item .item_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 25px;
    width: 64px;
    height: 64px;
    border: 2px solid rgba(43, 7, 110, 0.2);
    border-radius: 100%;
}
.mining {
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
    padding: 88px 0;
}
.mining_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3671E9;
    border-radius: 16px;
    padding: 48px 0;
}
.mining_btn {
    margin-top: 0px;
    width: 152px;
    height: 55px;
    background-color: #FFFFFF;
    border-radius: 32px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #0D0D2B;
    margin-right: 48px;
}
.mining .mining_text {
    margin-left: 48px;
    flex: 0 0 501px;
}
.mining .mining_text .mining_title {
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
.mining .mining_text .mining_descr {
    margin-top: 16px;
    width: 348px;
    line-height: 28px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.mining .mining_input {
    border: none;
    outline: none;
    background-color: #3671E9;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 7px;
    color: #fff;
    flex: 0 0 374px;
}
.mining .mining_input::placeholder {
    color: #fff;
}
.footer {
    background-color: #0D0D2B;
    padding: 78px 0 74px 0;
}
.footer .footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .footer_text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.footer .footer_social .footer-link {
    margin-left: 32px;
}
.footer .footer_social .footer-link:first-child {
    margin-left: 0px;
}